.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #05070D;
  background-image: url('/main-bg.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-content {
  flex: 1;
  padding-bottom: 90px;
  position: relative;
}
